*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #01012e;
}
nav{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1% 7%;
    font-size: 1.4rem;
    /* border: 1px solid red; */
}
#navLeft{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#websiteLogo{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
}
#websiteLogo > img{
    width: 25%;
}
#navLeft > h3{
    font-size: 1.2rem;
}

#navRight{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#inputBox {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    padding: 1.5%;
    background-color: #14146dd1;
}
#inputBox > input{
    width: 75%;
    background-color: transparent;
    border: none;
    height: 100%;
    outline: none;
    color: white;
}


section{
    width: 100%;
    height: 84vh;
    /* border: 1px solid red; */
    display: flex;
    padding: 0px 8%;
    flex-wrap: wrap;
    position: relative;
    
}
section > main{
    width: 75%;
    height: 90%;
    /* border: 1px solid yellow; */
    overflow:auto;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
}
section > main::-webkit-scrollbar{
    width: 0px;
}

#card{
    width: 100%;
    height: 40%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.cards{
    height: 100%;
    width: 30%;
    transition: all 1s ease;
    position: relative;
    /* border: 2px solid yellow; */
    
}
.cards > a{
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    
}
.cards > a > img{
    width: 100%;
    height: 100%;
    
}
.cards:hover{
    transform: scale(1.1);
    

}
.hoverInfo > a{
    text-decoration: none;
    color: black;
}
.hoverInfo{
    display: inline-block;
    position: absolute;
    left: 10%;
    bottom: 15%;
    background-color: #fffafabd;
    color: black !important;
    width: 80%;
    
    /* border: 2px solid yellow; */
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    box-shadow: 5px 10px 10px grey;
    opacity: 0;
    transition: all 1s ease;
}
.cards:hover .hoverInfo{
    opacity: 1;
}

#latestRelase{
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    margin-top: 4%;
    color: white;
    
}
#latestRelase > h3 {
    margin-bottom: 0.7%;
}

#LRSongsContainer{
    width: 100%;
    height: auto;
    /* border: 2px solid yellow; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 4%;
    grid-row-gap: 8%;
    
}
.latestRelaseSongs{
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 0.8fr 2.5fr 0.5fr ;
    grid-column-gap: 5% ;
}
.lRSChild{
    /* border: 1px solid brown; */
}
.latestRelaseSongs > img{
    width: 100%;
}
.songDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.songDetails > h3{
    font-size: 0.9rem;
}
.latestRelaseSongs  h4{
    font-size: 0.6rem;
    color: #ffffff73;
    margin-top: 2%;
}
.dotMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20%;
}
.dotMenu > a{
    width: 100%;
    /* background-color: yellow; */
    
}
.dotContainer{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}
.dotItems{
    width: 0px;
    height: 0px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 5%;
}
.dotMenu > h4{
    margin-top: 40%;
}

#popularArtists{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    margin-top: 40px;
    color: white;
}
#popularArtists > h3 {
    margin-bottom: 1%;
}

#artistWrapper{
    display: flex;
    width: 100%;
    /* border: 1px solid yellow; */
    justify-content: space-between;
}
.artist{
    width: 17%;
    /* border: 1px solid brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.artist >a{
    width: 90%;
}
.artist > a>img{
    width: 100%;
    display: inline-block;
    border-radius: 50%;
}
.artist > h3{
    margin-top: 5px;
    font-size: 0.9rem;
}

#stationsWrapper{
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    display: flex;
    margin-top: 20px;
    align-items: center;
    background-color: #020248;
}
#station{
    width: 16%;
    height: 100%;
    /* border: 1px solid yellow; */
    padding: 2%;
}
#station > img{
    width: 100%;
}
#songTypes{
    width: 84%;
    height: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
    
}
.songType{
    width: 13%;
    /* border: 1px solid brown; */
    position: relative;
}
.songType > h4{
    position: absolute;
    color: #ffffffd1;
    top: 34px;
    left: 20px;
    cursor: pointer;
}
.songType > a{
    width: 100%;
    /* border: 1px solid greenyellow; */
    text-decoration: none;
    
}

.songType > a > img{
    width: 100%;
    border-radius:50% ;
    opacity: 0.5;
}
#typesOfMusic{
    width: 100%;
    /* border: 2px solid red; */
    height: 160px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.typesCard{
    width: 32%;
    height: 100%;
    /* border: 2px solid yellow; */
}
.typesCard > a{
    display: block;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    /* border: 2px solid green; */
    position: relative;
    /* overflow: hidden; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.typesCard #firstTypesCard{
    background-image: url("./images/cover_image/party.jpg");
}
.typesCard #secondTypesCard{
    background-image: url("./images/cover_image/electronic.jpg");
}
.typesCard #thirdTypesCard{
    background-image: url("./images/cover_image/roadtrip.jpg");
}
.bg-Image-Blur{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #6e6b6bad;
    backdrop-filter: blur(-6px);
    z-index: 1;
}
.typesCard > a > h4{
    position: absolute;
    width: 100%;
    z-index: 2;
    font-size: 1.2rem;
    font-weight: 700;
    top: 43%;
    /* color: black; */
    text-align: center;
    
}

section > aside{
    width: 25%;
    height: 90%;
    /* border: 1px solid yellowgreen; */
    overflow: auto;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
}
section > aside::-webkit-scrollbar{
    width: 0px;
}
#queueAside{
    color:white;
    overflow: auto;
}
#queueAside #queueHeading{
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* border: 2px solid yellow; */
}
#queueDropDown{
    position: relative;
    /* border: 1px solid red; */
    /* font-size: 1rem; */
}
#queueDropDown  #select{
    text-decoration: none;
    color: gainsboro;
    /* background-color: yellowreen; */
}


#queueDropDownList{
    display: block;
    position: absolute;
    top: 23px;
    right: 2px;
    z-index: 2;
    overflow: hidden;
    height: 0px;
    transition: all 0.2s ease-in-out;
}
#queueDropDownList:target{
    height: 41.33px;
}

#queueDropDownList > ul{
    list-style: none;
}
#queueDropDownList a{
    text-decoration: none;
    display: block;
    /* background-color: black; */
    color: gainsboro;
    text-align: right;
}

aside .queueSongs{
    width: 100%;
    height: 83%;
    /* border: 1px solid yellow; */
    margin-top: 45px;
    overflow: auto;
}
aside .queueSongs::-webkit-scrollbar{
    width: 0px;
}
aside .queueSongs .songItems{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 1fr;
    align-items: center;
    /* border: 1px solid whitesmoke; */
    margin-bottom: 8px;
    padding-left:4px ;
    padding-right: 4px;
    
}
aside .queueSongs .songItems .queueSongCount{
    /* border: 1px solid green; */
    color: gainsboro;
    font-size: 0.85rem;
}
aside .queueSongs .songItems .queueSongImage{
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    
}
aside .queueSongs .songItems .queueSongImage > img{
    width: 75%;
    box-shadow: 0px 0px 10px gray;
}

aside .queueSongs .songItems .queueSongDetails{
    /* border: 1px solid cornsilk; */
    padding-left: 5px;
    cursor: pointer;
}

aside .queueSongs .songItems .queueSongHeart{
    /* border: 1px solid burlywood; */
    justify-self: end;
    color: gainsboro;

}

.masterPlay{
    /* position: fixed; */
    width: 100%;
    height: 10%;
    /* border: 1px solid white; */
    /* bottom: 0px; */
    background-color: #020248;
    /* z-index: 4; */

    display: flex;
    align-items: center;
    padding: 0px 20px;

}

.masterPlay .wave{
    width: 30px;
    height: 30px;
    /* border: 1px solid white; */
    margin-right: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.masterPlay .wave .waves{
    width: 3px;
    height: 10px;
    margin-right: 3px;
    background-color:aquamarine;
    border-radius: 10px 10px 0px 0px;
    animation:unset;
}


.masterPlay .wave .wave2{
    height: 15px;
    
}
.masterPlay .wave .wave3{
    height: 10px;
}

 /* JAVASCRIPT CLASSES WHEN ACTIVE IS ADDED */

.masterPlay .active1 .waves{ 
    animation: waves 0.5s linear infinite;
}
.masterPlay .active1 .wave2{
    
    animation-delay: 0.3s;
}
.masterPlay .active1 .wave3{
    
    animation-delay: 0.6s;
}

@keyframes waves {
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}

.masterPlay > img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.masterPlay #title{
    color: white;
    width: 150px;
    /* border: 1px solid white; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    margin-right: 10px;
}

.masterPlay .icon{
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
    justify-content: space-between;
    width: 80px;
    margin-right: 10px;
}
.masterPlay .icon > i{
    cursor: pointer;
    outline: none;
}
.masterPlay .icon #playButton{
    font-size: 2rem;
}

.masterPlay .seekMenu{
    color: white;
    width: 410px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.masterPlay .seekMenu #startTime{
    width: 10%;
}
.masterPlay .seekMenu #endTime{
    width: 10%;
}
.masterPlay .seekMenu #seekBar{
    width: 80%;
    /* border: 1px solid yellow; */
    padding: 4px 5% 4px 5%;
    display: flex;
    align-items: center;
    position: relative;
}
.masterPlay .seekMenu #seekBar #seek{
    width: 100%;
    opacity: -1;
    z-index: 5;
}

.masterPlay .seekMenu #seekBar #backgroundBarLine{
    position: absolute;
    height: 4px;
    width: 87%;
    background: rgb(105, 105, 170,0.4);

}
.masterPlay .seekMenu #seekBar #backgroundBarLine #seekBarLine{
    position: relative;
    border: 2px solid cyan;
    
    width: 0%;
    
}



.masterPlay .seekMenu #seekBar #backgroundBarLine #seekBarDot{
    position: relative;
    left: 0%;
    top: -4.5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: cyan;
    border: 2px solid cyan;
}

.masterPlay .seekMenu #seekBar #backgroundBarLine #seekBarDot::before{
    content: '';
    position: absolute;
    left:-6.5px;
    top: -7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid cyan;
}

.masterPlay .volumeSeek{
    color: white;
    width: 180px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 13%;
    
}
.masterPlay .volumeSeek  .bi{
    font-size: 2rem;
}

.masterPlay .volumeSeek #seekBarVolume{
    width: 80%;
    /* border: 1px solid yellow; */
    padding: 4px 5% 4px 5%;
    display: flex;
    align-items: center;
    position: relative;
}
.masterPlay .volumeSeek #seekBarVolume #seekVolume{
    width: 100%;
    opacity: -1;
    z-index: 5;
}
.masterPlay .volumeSeek #seekBarVolume #backgroundBarLineVolume{
    position: absolute;
    height: 4px;
    width: 87%;
    background: rgb(105, 105, 170,0.4);

}
.masterPlay .volumeSeek #seekBarVolume #backgroundBarLineVolume #seekBarLineVolume{
    position: relative;
    border: 2px solid cyan;
    
    width: 0%;
    
}
.masterPlay .volumeSeek #seekBarVolume #backgroundBarLineVolume #seekBarDotVolume{
    position: relative;
    left: 0%;
    top: -4.5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: cyan;
    border: 2px solid cyan;
}
.masterPlay .volumeSeek #seekBarVolume #backgroundBarLineVolume #seekBarDotVolume::before{
    content: '';
    position: absolute;
    left:-6.5px;
    top: -7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid cyan;
}